body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #ffffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

.parent-element {
    display: grid;
    place-items: center;
}

section {
    margin: 30px 0; /* 外边距 */
    padding: 20px; /* 内边距 */
    border: none; 
   /* 去除边框，因为我们将使用.block类样式 */
}

footer {
    background: #ffffff;
    color: #aaa;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}


.block {
    width: 60%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border: none; /* 去除边框 */
    border-radius: 5px; /* 保留圆角边框大小 */
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 加重阴影效果 */
}

.block:hover {
    transform: scale(1.05);
    z-index: 10;
    cursor: pointer;
}

.block-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%; /* 确保链接宽度占满其父元素 */
    /* 其他样式 */
}

.block {
    width: 60%; /* 或其他宽度 */
    max-width: 800px; /* 保持最大宽度限制 */
    margin-left: auto; /* 水平居中 */
    margin-right: auto; /* 水平居中 */
    /* 其他样式 */
}
.block:hover {
    /* 悬停效果保持不变 */
}

/* 基本重置 */
body, html {
    margin: 0;
    padding: 0;
}

/* 容器：设置最大宽度和页面中心 */
.container {
    max-width: 800px; /* 根据需要调整最大宽度 */
    margin: 0 auto; /* 上下0，左右自动（水平居中） */
    padding: 0 20px; /* 左右留白 */
}

/* 文章内容 */
.blog-post {
    margin: 100px 0; /* 与屏幕顶部和底部的距离 */
    line-height: 1.6; /* 行高 */
    font-family: Arial, sans-serif; /* 字体 */
}

/* 媒体查询：响应式设计 */
@media (max-width: 820px) {
    .container {
        padding: 0; /* 在较小屏幕上移除留白 */
    }
}